__pycache__/
.vscode/

bin/
busqueda/
busqueda/__pycache__/

core/__pycache__/
core/backup/

estrutura/
pqt5_widget/

share/
lib/
lib64/

ur8ejeca.default-release/
imagenes/
capturas/
telegram/
whatsapp/
_test_/widgetMod.py

__pyache__/

node_modules/   
share/

*.log
.txt
*.cfg
*.png

package-lock.json
package.json
